Flask==1.1.1
Flask-Script==2.0.6
Flask-Testing==0.7.1
Flask-APScheduler==1.11.0
gunicorn==19.9.0
eventlet==0.25.1
cx_Oracle==7.2.3
prometheus_client==0.7.1
coverage==4.5.4
isort==4.3.21
yapf==0.28.0
python-json-logger==0.1.11
